.App {
  text-align: center;
}

.body {
}

.row {
  display: flex;
  justify-content: center;
}


.likes {
}

.hidden-likes {
  display: none;
  position: absolute;
}

.likes a {
}

.likes:hover .hidden-likes {
  display: inline;
}

.made {
}

.hidden-made {
  display: none;
}

.made:hover .hidden-made {
  display: block;
}